@media screen and (min-width: 993px) {
  .reservation {
    padding: 70px 20px;
  }

  .functioning {
    padding: 70px 20px;
  }
  .functioning-container {
    flex-direction: row;
    // flex-wrap: wrap;
  }
  .restaurant-container {
    flex-wrap: nowrap;
  }

  .image-menu {
    height: 300px;
  }

  .container-menu {
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
  }

  .menu-bloc {
    width: 33%;
    max-width: 400px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .restaurant-container {
    flex-wrap: nowrap;
  }

  .functioning-container {
    flex-direction: row;
    // flex-wrap: wrap;
    gap: 10px;
  }

  .image-menu {
    height: 300px;
  }

  .container-menu {
    flex-direction: column;
  }

  .menu-bloc {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .preloader {
    background-size: 50%;
  }
}
